body {
  background-color: white;
}

.subGrid {
  width: 32vw;
  margin: 0px;
  padding: 0px;
  float: left;
}

#footer {
  width: 100vw !important;
  text-align: center;
  display: block;
  float: right;
}