::-webkit-scrollbar {
  width: 3px;
  height: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 0;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #000000;
  border: 1px solid white;
}

body {
  background-image: url("/media/bg_image.jpg");
  background-attachment: fixed;
  font-family: Canterbury;
  overflow-x: hidden;
  padding: 0px;
  margin: 0.4em;
}

button {
  background-color: #00000064;
  margin-right: 2vw;
  border: none;
  border-radius: 6px;
  padding: 1em;
}

.button:hover {
  background-color: #202020;
  color: white;
}

.button:active {
  background-color: gold;
  color: black;
}

input {
  border-radius: 10px;
}

#metaBox {
  grid-column: 1;
  grid-row: 1;
  display: flex;
}

#importBoxDiv {
  grid-column: 1;
  grid-row: 3;
}

#sheet {
  grid-template-columns: 60% 40%;
  grid-template-rows: 10vh 95vh 30vh;
  display: grid;
}
#sheet #auxCounter {
  width: 20vw;
  float: left;
  font-size: 1.5em;
}
#sheet #charnameBox {
  width: 20vw;
  float: left;
}
#sheet #hpBox {
  width: 20vw;
  float: left;
}
#sheet #armorBox {
  width: 20vw;
  float: left;
}
#sheet hr {
  width: 100vw !important;
  margin-top: 1em;
  color: #00000000;
  visibility: hidden;
}
#sheet .imp_exp_button {
  padding: 0px;
  padding-right: 5px;
  padding-left: 5px;
}
#sheet #importButton {
  background-color: green;
  color: white;
}
#sheet #exportButton {
  background-color: red;
  color: white;
}

#scienceType {
  width: 50%;
}

#ScienceSuDiv {
  display: inline;
}
#ScienceSuDiv #selerSu9 {
  float: left;
}
#ScienceSuDiv #scienceLabel {
  width: 30vw !important;
  font-size: 1.5em;
}
#ScienceSuDiv #scienceTypelabel {
  padding: 0px;
  margin: 0px !important;
}
#ScienceSuDiv #scienceType {
  margin-left: 0.2em;
  border-radius: 10px;
}

#charData {
  width: 40vw;
  padding: 0px !important;
  margin: 0px !important;
  float: left;
  display: grid;
  grid-column: 2;
  grid-row: 2;
  font-size: 1em;
  grid-template-columns: 50% 50%;
  grid-template-rows: 5vh 30vh 30vh 30vh 30vh;
}
#charData .dataItem {
  display: flex;
  width: 100%;
  height: 3em;
  margin-top: 20px;
}
#charData .dataItem p {
  width: 30%;
}
#charData .dataItem .input {
  font-size: 0.9em;
  width: 65%;
  height: 100%;
}
#charData .dataItemTitle {
  display: flex;
  width: 100%;
}
#charData .dataItemTitle p {
  width: 30%;
}
#charData .housing {
  display: inline;
  grid-column: 3;
}
#charData #charTitle {
  grid-column: 1;
  grid-row: 1;
}
#charData #rankDiv {
  grid-column: 2;
  grid-row: 1;
}
#charData #OccupationhouseDiv {
  grid-column: 1;
  grid-row-start: 2;
}
#charData #FeaturehouseDiv {
  grid-column: 2;
  grid-row-start: 2;
}
#charData #TechniquehouseDiv {
  grid-column: 1;
  grid-row-start: 3;
}
#charData #KnowledgehouseDiv {
  grid-column: 2;
  grid-row-start: 3;
}
#charData #SpecialhouseDiv {
  grid-column: 1;
  grid-row-start: 4;
}

#stats {
  grid-column: 1;
  grid-row: 2;
  width: 55vw;
  height: 100vh;
}
#stats .subGrid {
  width: 18vw;
  margin: 0px;
  padding: 0px;
  float: left;
}
#stats .subGrid div {
  background-color: white;
  height: 3.2vh;
  margin-bottom: 1em;
  margin-right: 0.5em;
  display: flex;
}
#stats .subGrid p {
  margin-bottom: 0px !important;
  margin-top: 5px !important;
  font-size: 1em;
  font-weight: bold;
  width: 75%;
  padding-left: 1em;
}
#stats .subGrid .seler {
  padding-bottom: 0px !important;
  margin-bottom: 0px !important;
  padding: 0px;
  margin: 0px;
  background-color: rgba(0, 0, 0, 0.208);
  color: black;
  font-size: 1em;
  font-weight: bold;
  border: none;
  float: left;
  height: 100%;
}

#footer {
  width: 100vw !important;
  text-align: center;
  display: block;
  float: right;
}

.featDiv {
  margin-top: 40px;
  width: 15vw;
  padding: 10px;
  text-align: center;
  display: block;
  float: left;
  background-color: gray;
}
.featDiv input {
  width: 13vw;
}

.fInfo {
  height: 400px !important;
  width: 14vw textarea;
}

.fName {
  width: 100%;
  font-size: 0.7em;
}

.featDivAlt {
  margin-top: 40px;
  width: 15vw;
  padding: 10px;
  text-align: center;
  display: block;
  float: left;
  background-color: green;
}
.featDivAlt input {
  width: 13vw;
}

.featDivStory {
  background-color: red;
  text-align: center;
}

.featDivStoryAlt {
  background-color: orange;
  text-align: center;
}

#content {
  text-align: left;
}

#dm_tools {
  font-family: Arial, Helvetica, sans-serif;
  width: 100vw;
  margin-top: 1em;
  color: white;
  font-size: 1em;
}
#dm_tools p {
  margin-top: 1em;
  margin-bottom: 0px;
  padding-top: 0px;
}
#dm_tools textarea {
  border-radius: 10px;
}
#dm_tools #players {
  background-color: rgba(0, 0, 255, 0.253);
  text-align: center;
  overflow-x: auto;
  display: flex;
  height: 17em;
  width: 100vw;
}
#dm_tools #players .playerDiv {
  flex: 1 0 auto;
  width: 18em !important;
  height: 15em;
  overflow-x: auto;
  margin-right: 0.5em;
  margin-bottom: 0px;
  margin-top: 0.6em;
  margin-left: 0.5em;
  padding-bottom: 0.5em;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.507);
}
#dm_tools #players .playerDiv input {
  width: 90%;
}
#dm_tools #players .playerDiv textarea {
  width: 90%;
  height: 10em;
  resize: none;
}
#dm_tools #enemies {
  background-color: rgba(255, 0, 0, 0.253);
  text-align: center;
  overflow-x: auto;
  display: flex;
  width: 100vw;
  height: 25em;
}
#dm_tools #enemies .enemyDiv {
  flex: 1 0 auto;
  display: inline-block;
  width: 18em;
  margin-right: 0.5em;
  margin-bottom: 0.5em;
  margin-left: 0.5em;
  margin-top: 0.6em;
  padding-bottom: 0.5em;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.507);
  overflow-y: scroll;
}
#dm_tools #enemies input {
  width: 90%;
}
#dm_tools #enemies textarea {
  width: 90%;
  height: 10em;
  resize: none;
}
#dm_tools #initModule {
  background-color: rgba(115, 255, 0, 0.253);
  text-align: center;
  overflow-x: auto;
  display: flex;
  width: 100vw;
  height: 10em;
}
#dm_tools #initModule div {
  margin-right: 1em;
  border-radius: 10px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.316);
  width: 15em;
}
#dm_tools #initModule input {
  width: 15em;
}