// @font-face {
//     font-family: Canterbury;
//     src: url('/media/Canterbury.ttf');
// }
::-webkit-scrollbar {
    width: 3px;
    // padding: 10px;
    height: 10px;
}
::-webkit-scrollbar-track {
    border-radius: 0;
    // background: #f0ffb283;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #000000;
    border: 1px solid rgb(255, 255, 255);
}
body{
    background-image: url("/media/bg_image.jpg");
    background-attachment: fixed;
    font-family: Helvetica, Arial, sans-serif;
    // width: 100vw;
    overflow-x: hidden;
    padding: 0px;
    margin: 0.4em;
}

 
button{
    background-color: #00000064;
    margin-right: 2vw;
    border: none;
    border-radius: 6px;
    padding: 1em;

}

.button:hover{
    background-color: rgb(32, 32, 32);
    color: white;
}

.button:active{
    background-color: gold;
    color: black;
}

input{
    border-radius: 10px;
}

#statBox{
    display: flex;
    float: left;
}


#metaBox{
    grid-column: 1;
    grid-row: 1;
    display: grid;
    grid-template-columns: 20vw 18vw 14vw 10vw 18vw 20vw;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
    width: 100vw;

    #damBox{
        border-left: 1px solid black;
        padding-left: 10px;
        margin-left: 10px;
        display: grid;
        grid-template-columns: 33% 33% 33%;
        grid-template-rows: 2em 2em;
        p {
            grid-column: 1;
            grid-row: 1;
        }
        .labelImportant{
            font-weight: bold;
        }
        .microCon{
            // width: 1em;
            grid-row: 1;
            text-align: center;
            input{
                width: 2em;
                text-align: center;
            }
        }
    }
    #tpContainer{
        border-left: 1px solid black;
        padding-left: 10px;
        margin-left: 10px;
        display: grid;
        grid-template-columns: 33% 33% 33%;
        grid-template-rows: 2em 2em;
    
        p {
            grid-column: 1;
            grid-row: 1;
        }
        .labelImportant {
            font-weight: bold;
        }
        .microCon {
            // width: 1em;
            grid-row: 1;
            text-align: center;

            input {
                width: 2em;
                text-align: center;
            }
        }
    }

    #determinationDiv{
        border-left: 1px solid black;
        padding-left: 10px;
        margin-left: 10px;
        text-align: center;
        input{
            width:2em;
            text-align: center;
        }
    }

}

#importBoxDiv{
    grid-column: 1;
    grid-row: 3;
}

#hRule{
    height: 20px;
    color: black;
    width: 100vw;
}

#sheet{
    grid-template-columns: 40% 60%;
    grid-template-rows: 10vh 95vh;
    // background-color: green;
    display: grid;
    // float: left;
    #auxCounter{
        float:right;
        width: 20vw;
        // float: left;
        font-size: 1.5em;
        grid-column: 6;

    }
    #charnameBox{
        width: 20vw;
        float: left;
        padding-right: 0.5em;
    }
    #hpBox{
        width: 5em;
        text-align: center;
        float: left;
        #charHP{
            width: 2em;
            text-align: center;
        }
    }
    #armorBox{
        width: 5em;
        text-align: center;
        float: left;
        #charArmor{
            width: 2em;
            text-align: center;
        }
    }
    hr{
        width: 100vw !important;
        margin-top: 1em;
        color: #00000000;
        visibility: hidden;
    }
 
}

#toolBox{
    border-top: 1px solid black;
    margin-top: 10px;
    padding-top: 10px;
}

#exportButton{
    width: 10em;
    height: 2em;
    background-color: green;
    color: white;
}
#importButton{
    background-color: blue;
    color: white;
}
.imp_exp_button {
    padding: 0px;
    padding-right: 5px;
    padding-left: 5px;
    margin-left: 10px;
    width: 5em;
    height: 2em;
}

#scienceType{
    width: 50%; 
    // margin-left: 0.7em;
}

#ScienceSuDiv{
    display: inline;
    #selerSu9{
        float: left;
    }
    #scienceLabel{
        width: 30vw !important;
        font-size: 1.5em;

    }
    #scienceTypelabel{
        padding: 0px;
        margin: 0px !important;
    }
    #scienceType{
        // float: right;   
        margin-left: 0.2em;
        border-radius: 10px;
    }


}

#charData{
    // width: 40vw;
    padding: 0px !important;
    margin: 0px !important;
    padding-top: 1em !important;
    float: left;
    display: grid;
    grid-column: 2;
    grid-row: 2;
    font-size: 1em;
    grid-template-columns: 50% 50%;
    grid-template-rows: 5vh 27vh 27vh 27vh 27vh;
    // background-color: white;
    // border-radius: 10px;
    // outline: 2px solid black;
    .dataItem{
        p{
            width: 30%; 
            color: white;
            padding-left: 10px;
        }
        .input{
            font-size: 0.9em;
            width: 65%;
            background-color: white; 
            color: black;
            appearance: none;
            border: 1px solid black;
            resize: none;
            border-radius: 10px;
            // height: 100%;
        }
        display: flex;
        // width: 100%;
        height: 3.7em;
        margin-top: 8px;
        background-color: rgb(52, 168, 83);
        border-right: 3px solid white;
        border-radius: 10px;
    }
    .dataItemTitle{
        p {
                width: 30%
            }
        
            display: flex;
            width: 100%;
            // margin-left: 20px;
    }

    .housing{
        display: inline;
        // width: 20%;
        // padding: 20px;
        // height: 100vh;
        grid-column: 3;
    }

    #charTitle{
        grid-column: 1;
        grid-row: 1;
    }

    #rankDiv{
        grid-column: 2;
        grid-row: 1;
    }

    #OccupationhouseDiv{
        grid-column: 1;
        grid-row-start: 2;
    }
    #FeaturehouseDiv{
        grid-column: 2;
        grid-row-start: 2;
    }
    #TechniquehouseDiv{
        grid-column: 1;
        grid-row-start: 3;
    }
    #KnowledgehouseDiv{
        grid-column: 2;
        grid-row-start: 3;
    }
    #SpecialhouseDiv{
        grid-column: 1;
        grid-row-start: 4;
    }

}


#stats{
    grid-column: 1;
    grid-row: 2;
    // width: 40vw;
    height: 100vh;
    // background-color: blue;

    .offenseSub{
        background-color: rgb(166, 28, 0);
    }
    .defenseSub{
        background-color: rgb(60, 120, 216);
    }
    .supportSub{
        background-color: rgb(241, 194, 50);
    }


    .subGrid{
        width: 13vw;
        margin: 0px;
        padding: 0px;
        float: left;
        text-align: center;
        // background-color: white;
        div{
            border-radius: 10px;
            // width: 20%;
            // background-color: white;
            height: 5.5vh;
            margin-bottom: 1em;
            margin-right: 0.5em;
            // padding: 5px;
            display: block;
            text-align: center;
            p {
                background-color: rgba(0, 0, 0, 0.832);
                color: white;
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
                margin-bottom: 0.2em !important;
                margin-top: 0.2em !important;
                font-size: 0.9em;
                font-weight: bold;
                // width: 75%;
                // padding-left: 1em;
                }
            .seler {
                appearance: none;
                // background-color: green !important;
                padding-bottom: 0px !important;
                margin-bottom: 0px !important;
                padding: 0px;
                // margin-left: 35% !important; 
                margin: 0px;
                // width: 100%s !important;
                background-color: white(0, 0, 0, 0.208);
                color: black;
                font-size: 1em;
                font-weight: bold;
                // border-radius: 6px;
                border: none;
                // padding-right: 10px;
                // margin-left: 10px;
                // height: 100%;
                text-align: center;            
                }
        }
        
        
    }
}

#footer{
    width: 100vw !important;
    text-align: center;
    display: block;
    float: right;
}

.featDiv {
    margin-top: 40px;
    width: 15vw;
    padding: 10px;
    text-align: center;
    display: block;
    float: left;
    background-color: gray;
    input {
        width: 13vw;
    }
}

.fInfo{
    height: 400px !important;
    width: 14vw
    textarea{
    }
} 

.fName{
    width: 100%;
    font-size: 0.7em;
}

.featDivAlt {
    margin-top: 40px;
    width: 15vw;
    padding: 10px;
    text-align: center;
    display: block;
    float: left;
    background-color: green;
    input{
        width: 13vw;
    }
}

.featDivStory {
    background-color: red;
        text-align: center;
}
.featDivStoryAlt {
    background-color: orange;
        text-align: center;
}

#content{
    text-align: left;

}


#dm_tools{
    font-family: Arial, Helvetica, sans-serif;
    width: 100vw;
    // overflow-x: hidden;
    // display: flex;
    // float: center;
    margin-top: 1em;
    // overflow-y: hidden;
    // text-align: center;
    // height: 20vh; 
    color: white;
    font-size: 1em;
    p{
        margin-top: 1em;
        margin-bottom: 0px;
        padding-top: 0px;
    }
    textarea{
        border-radius: 10px;
    }
    #players{
        background-color: rgba(0, 0, 255, 0.253);
        text-align: center;
        overflow-x: auto;
        display: flex;
        height: 17em;
        width: 100vw;
        .playerDiv{
            
            flex: 1 0 auto;
            // display: inline-block;
            width: 18em!important;; 
            height: 15em;
            overflow-x: auto;
            margin-right: 0.5em;
            margin-bottom: 0px;
            margin-top: 0.6em;
            margin-left: 0.5em;
            padding-bottom: 0.5em;
            border-radius: 10px;
            background-color: rgba(0, 0, 0, 0.507);
            input{
                width: 90%;
            }
            textarea{
                width: 90%;
                height: 10em;
                resize: none;
            }
        }
    }
    #enemies{
        background-color: rgba(255, 0, 0, 0.253);
        text-align: center;
        overflow-x: auto;
        display: flex;
        width: 100vw;
        height: 25em;
        .enemyDiv{
            flex: 1 0 auto;
            display: inline-block;
            width: 18em;
            margin-right: 0.5em;
            margin-bottom: 0.5em;
            margin-left: 0.5em;
            margin-top: 0.6em;
            padding-bottom: 0.5em;
            border-radius: 10px;
            background-color: rgba(0, 0, 0, 0.507);
                    overflow-y: scroll;
        }
        input {
            width: 90%;
        }

        textarea {
            width: 90%;
            height: 10em;
            resize: none;
        }
    }
    #initModule{
        background-color: rgba(115, 255, 0, 0.253);
            text-align: center;
            overflow-x: auto;
            display: flex;
            width: 100vw;
            height: 10em;
        div{
            margin-right: 1em;
            border-radius: 10px;
            padding: 10px;
            background-color: rgba(0, 0, 0, 0.316);
            width: 15em;
        }
        input{
            width: 15em;
        }
    }
}